* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: blueviolet;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40vh;
}
.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.icon {
  font-size: 50px;
}
.inter1,
.inter2,
.inter3 {
  font-size: 60px;
}
.text {
  font-size: 24px;
  text-transform: capitalize;
}
