:root {
  --color-main: gainsboro;
  --color-select: rgba(52, 88, 248, 0.925);
}

body {
  transition: all 0.5s;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  color: gray;
  align-items: center;
}
.heading-pimary {
  border: 7px solid var(--color-main);
  border-radius: 50%;
  padding: 20px 30px;
  transition: all 0.5s;
}
.div {
  height: 7px;
  width: 100px;
  background-color: var(--color-main);
  transition: all 0.5s;
  transition-delay: 0.1s;
}
.buttons {
  display: flex;
  gap: 100px;
}
.button {
  padding: 20px 60px;
  font-size: 25px;
  border-radius: 20px;
  border-style: none;
  background-color: var(--color-main);
  color: white;
}

.heading-back {
  border-color: var(--color-select);
  transition: all 0.5s;
  transition-delay: 0.1s;
}
.div-back {
  background-color: var(--color-select);
  transition: all 0.5s;
}
